@model Eventt
@{
    ViewData["Title"] = "EventDetails";
}
@{
    Layout = "_Layout";
}
<section id="event-description">
    <div class="event-detail">
        <div id="event-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-inner">
                    @if (Model.SecondaryImageUrls != null && Model.SecondaryImageUrls.Count > 0)
                    {
                        for (int i = 0; i < Model.SecondaryImageUrls.Count; i++)
                        {
                            var imageUrl = Model.SecondaryImageUrls[i];
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="/@imageUrl.ToString()" class="d-block w-100" alt="Event Image @i" />
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#eventImagesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#eventImagesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>

        </div>
    </div>
    <div class="decription">
        <div>
            <h1>
                @Model.Description
            </h1>
        </div>
        <label>Date</label>
        <p>@Model.Date.ToString("dd MMMM, yyyy")</p>
        <label>Location</label>
        <p>@Model.Location</p>
    </div>
</section>