@using Event.Models.ViewModels
@model EventDetailsViewModel
@{
    ViewData["Title"] = "EventDetails";
}
@{
    Layout = "_Layout";
}
<section id="event-description">
    <div class="event-detail">
        <div id="event-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-inner">
                    @if (Model.Event.SecondaryImageUrls != null && Model.Event.SecondaryImageUrls.Count > 0)
                    {
                        for (int i = 0; i < Model.Event.SecondaryImageUrls.Count; i++)
                        {
                            var imageUrl = Model.Event.SecondaryImageUrls[i];
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="/@imageUrl.ToString()" class="d-block w-100" alt="Event Image @i" />
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#eventImagesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#eventImagesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div </div>
        </div>
        <div class="decription">
            <div>
                <h1>
                    @Model.Event.Description
                </h1>
            </div>
            <p>@Model.Event.Date.ToString("D")</p>
            <p>@Model.Event.Location</p>
            <p>@Model.Event.Description</p>
            <a href="https://wa.me/+237681719103?text=I%20am%20interested%20in%20your%20event!" target="_blank">
                <button class="btn btn-success">Chat with Organizer</button>
            </a>

        </div>

        <div class="section-container">
            <button class="btn">
                <a asp-page="/ProposeService" asp-route-eventId="@Model.Event.Id">Propose a Service for this Event</a>
            </button>
        </div>
        <div class="section-container similar-events">
            <div class="events">
            @if (Model.SimilarEvents.Count != 0)
            {
                <h1 id="section-title">Similar Events</h1>
                <div id="event-wrapper">
                @foreach (var item in Model.SimilarEvents.Take(4))
                {
                    <partial name="EventCard" , model="item" />
                }
                </div>
            }
            </div>
        </div>

</section>
